[Unit]
Description=hello app
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/hello
ExecStart=/root/apps/hello/hello
Restart=always
RestartSec=4
StandardOutput=inherit

[Install]
WantedBy=multi-user.target